<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<style>
		{background-color:#595959}
		</style>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    {{ content }}
    
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:dean.sa@husky.neu.edu">Email</a></li>
        		<li><a href="https://github.com/sara-dean">github.com/sara-dean</a></li>
			</ul>
		</footer>
	</body>
</html>
